// Colors
$red: rgb(152, 94, 109);
$dark-red: rgb(125, 70, 85);
$white: rgb(244, 243, 243);
$blue: rgb(73, 78, 107);
$dark-blue: rgb(50, 55, 83);
$light-blue: rgb(149, 153, 185);
// Buttons
$btn-background-size: 60% 60%;
$btn-border-radius: 100%;
$btn-size-medium: 40px;
$nav-height: 50px;
// Carousel
$car-btn-distance-sides: 5px;
// Miscelaneous
$global-border-radius: 2px;
$fullscreen-width-large: 95%;
$transition-speed: 300ms;